@import "tailwindcss";

.input-field {
  display: flex !important;
  width: auto;
  outline: none;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: #565657;
  background-color: #fff !important;
  background-clip: padding-box !important;
  appearance: none !important;
  border-radius: 6px !important;
  border: 1px solid #d8d6de;
  transition: border-color 0.15s ease-in-out, box-shadow 0.1.5s ease-in-out !important;
}

.input-field:focus {
  color: #565657 !important;
  border-color: #7367f0 !important;
  box-shadow: 0 3px 10px 0 rgb(34, 41, 47, 0.1) !important;
}

.input-field::placeholder {
  color: #565657 !important;
  opacity: 1;
}
